<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <style>
        .error {
            color: red
        }
    </style>
<body>
    <h2>Editing a Planned Exercise Log</h2>
    <form th:action="@{/edit-planned/{id}(id=${plannedExerciseLogDto.id})}" th:object="${plannedExerciseLogDto}" method="post">
            <label for="exerciseName">Exercise:</label>
            <input type="text" id="exerciseName" th:field="*{exerciseName}" required>
            <div th:if="${#fields.hasErrors('exerciseName')}" th:errors="*{exerciseName}" class="error"></div>
            <br>

            <label for="muscleGroup">Muscle Group (optional if selecting existing exercise name):</label>
            <input type="text" id="muscleGroup" th:field="*{muscleGroup}">
            <div th:if="${#fields.hasErrors('muscleGroup')}" th:errors="*{muscleGroup}" class="error"></div>
            <br>

            <label for="plannedSets">Sets:</label>
            <input type="number" id="plannedSets" th:field="*{plannedSets}" step="1.0" required>
            <div th:if="${#fields.hasErrors('plannedSets')}" th:errors="*{plannedSets}" class="error"></div>
            <br>

            <label for="plannedReps">Reps:</label>
            <input type="number" id="plannedReps" th:field="*{plannedReps}" step="1.0" required>
            <div th:if="${#fields.hasErrors('plannedReps')}" th:errors="*{plannedReps}" class="error"></div>
            <br>

            <label for="plannedWeight">Weight (kg):</label>
            <input type="number" id="plannedWeight" th:field="*{plannedWeight}" step="0.5" required>
            <div th:if="${#fields.hasErrors('plannedWeight')}" th:errors="*{plannedWeight}" class="error"></div>
            <br>

            <label for="notes">Notes (optional):</label>
            <input type="text" id="notes" th:field="*{notes}">
            <br>

            <button type="submit">Save Changes</button>
        </form>
</body>
</html>
