<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <style>
            table, td, th {
                border: 1px solid;
            }
            table {
                border-collapse: collapse;
            }
            .hidden {
                display: none;
            }
        </style>
    </head>
<body>
    <div th:replace="~{fragments :: header}"></div>
    <div th:replace="~{fragments :: nav}"></div>
    <div class="content">
        <h2>Exercise Logs</h2>
        <p>Logs of your past exercises will be displayed here. The can be sorted based on date and name to see progression.</p>
    </div>
     <form th:action="@{/logs}" method="get">
        <label for="exerciseName">Filter by Exercise Name:</label>
        <input type="text" id="exerciseName" name="exerciseName" placeholder="Enter exercise name">
        <button type="submit">Filter</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Exercise Name</th>
                <th>Sets</th>
                <th>Weight</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="log : ${exerciseLogs}">
                <td th:text="${log.date}">Date</td>
                <td th:text="${log.exerciseName}">Exercise Name</td>
                <td>
                    <span th:each="set, iterStat : ${log.setLogDtoList}">
                        <span th:text="${set.reps}"></span>
                        <span th:if="${!iterStat.last}">,</span>
                    </span>
                </td>
                <td>
                    <span th:text="${log.setLogDtoList[0].weight + ' kg'}">Weight</span>
                </td>
                <td th:text="${log.exerciseNotes}">Exercise Notes</td>
            </tr>
        </tbody>
    </table>
</body>
</html>