<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <style>
            table, td, th {
                border: 1px solid;
            }
            table {
                border-collapse: collapse;
            }
        </style>
    </head>
<body>
    <div class="header">
        <h1>ExerciseLog</h1>
        <div>
            <a th:href="@{/profile}">Profile</a>
            <a th:href="@{/logout}">Logout</a>
        </div>
    </div>
    <div class="nav">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/workouts}">Workouts</a>
        <a th:href="@{/planned}">Exercise Planning</a>
        <a th:href="@{/logs}">Exercise Logs</a>
    </div>
    <div class="content">
        <h2>Exercise Logs</h2>
        <p>Logs of your past exercises will be displayed here. The can be sorted based on exercise name to see progression.</p>
    </div>
     <form th:action="@{/logs}" method="get">
        <label for="exerciseName">Filter by Exercise Name:</label>
        <input type="text" id="exerciseName" name="exerciseName" placeholder="Enter exercise name">
        <button type="submit">Filter</button>
    </form>
    <br>
    <a th:href="@{/logs(sort='name')}" class="btn">Sort by Exercise Name</a>
    <br><br>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Exercise Name</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="log : ${exerciseLogs}">
                <td th:text="${log.completedWorkout.date}">Date</td>
                <td th:text="${log.name}">Exercise Name</td>
                <td th:text="${log.notes}">Notes</td>
            </tr>
        </tbody>
    </table>
</body>
</html>