<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="header">
        <h1>ExerciseLog</h1>
        <div>
            <a th:href="@{/profile}">Profile</a>
            <a th:href="@{/logout}">Logout</a>
        </div>
    </div>
    <div class="nav">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/workouts}">Workouts</a>
        <a th:href="@{/planned}">Exercise Planning</a>
        <a th:href="@{/logs}">Exercise Logs</a>
    </div>
    <div class="content">
        <h2>Exercise planning</h2>
        <p>Here you will plan your exercises. After planning exercises, you can go on to Workouts and plan a workout based on these planned exercises.</p>
        <ul>
            <li th:each="plannedExerciseLog : ${plannedExerciseLogs}">
                <span th:text="${plannedExerciseLog.exercise.name}">Exercise Name</span> -
                <span th:text="${plannedExerciseLog.plannedSets}">Sets</span> x
                <span th:text="${plannedExerciseLog.plannedReps}">Reps</span> @
                <span th:text="${plannedExerciseLog.plannedWeight}">Weight</span> kg
                <a th:href="@{/edit-planned/{id}(id=${plannedExerciseLog.id})}">
                    Edit
                </a>
                <form th:action="@{/delete-planned/{id}(id=${plannedExerciseLog.id})}" method="post" style="display:inline;">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit">Delete</button>
                </form>
            </li>
        </ul>

        <h2>Plan a New Exercise</h2>
        <form th:action="@{/add-planned}" method="post">
            <label for="exerciseName">Exercise:</label>
            <input type="text" id="exerciseName" name="name" placeholder="New or existing exercise name">
            <br>

            <label for="muscleGroup">Muscle Group (optional if selecting existing exercise name):</label>
            <input type="text" id="muscleGroup" name="muscleGroup">
            <br>

            <label for="goalSets">Goal Sets:</label>
            <input type="number" id="goalSets" name="goalSets" step="1.0" required>
            <br>

            <label for="goalReps">Goal Reps:</label>
            <input type="number" id="goalReps" name="goalReps" step="1.0" required>
            <br>

            <label for="goalWeight">Goal Weight (kg):</label>
            <input type="number" id="goalWeight" name="goalWeight" step="0.5" required>
            <br>

            <label for="notes">Notes (optional):</label>
            <input type="text" id="notes" name="notes">
            <br>

            <button type="submit">Add Planned Exercise</button>
        </form>
    </div>
</body>
</html>