<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <h2>User Registration</h2>

    <form th:action="@{/register}" th:object="${user}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></div>
        <br>

        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}" required>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
        <br>

        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>
        <br>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" th:field="*{confirmPassword}" required>
        <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error"></div>
        <br>

        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a th:href="@{/login}">Login here</a></p>
</body>
</html>