<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <a th:href="@{/workouts}" class="btn">Back to Workouts</a>
    <h2 th:text="'Start Workout: ' + ${workout.name}">Start Workout</h2>
    <form th:action="@{/workouts/complete/{id}(id=${workout.id})}" method="post">
        <h3>Exercises</h3>
        <ul>
            <li th:each="plannedExercise : ${workout.plannedExerciseLogs}">
                <strong th:text="${plannedExercise.exercise.name}">Exercise Name</strong>
                <p>

                    Sets:
                    <input type="number" id="completedSets" name="completedSets" th:value="${plannedExercise.plannedSets}" step="1.0" required>
                    <br>

                    Reps:
                    <input type="number" id="completedReps" name="completedReps" th:value="${plannedExercise.plannedReps}" step="1.0" required>
                    <br>

                    Weight:
                    <input type="number" id="completedWeight" name="completedWeight" th:value="${plannedExercise.plannedWeight}" step="0.5" required>
                    <br>

                    Exercise Notes (optional):
                    <input type="text" id="exerciseNotes" name="exerciseNotes" th:value="${plannedExercise.notes}">
                    <br>
                </p>
            </li>
        </ul>
        <label for="workoutNotes">Workout Notes (optional):</label><br>
        <textarea id="workoutNotes" name="workoutNotes" rows="4" cols="50"></textarea><br><br>

        <button type="submit">Complete Workout</button>
    </form>
</body>
</html>
