<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="header">
        <h1>ExerciseLog</h1>
        <div>
            <a th:href="@{/profile}">Profile</a>
            <a th:href="@{/logout}">Logout</a>
        </div>
    </div>
    <div class="nav">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/workouts}">Workouts</a>
        <a th:href="@{/planned}">Exercise Planning</a>
        <a th:href="@{/logs}">Exercise Logs</a>
    </div>
    <div class="content">
        <h2>Workouts</h2>
        <p>Here you will manage your workouts. It will also serve as a display page for your workouts. A completed workout will log all the completed exercises and their data to a separate page for tracking.</p>
    </div>
</body>
</html>